<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>RPG Project</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/spiked-dragon-head.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <!--<a class="navbar-brand" href="#!">Start Bootstrap</a>-->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/encounter/builder}">Encounter</a></li>
            </ul>
            <!--
            <form class="d-flex">
                <button class="btn btn-outline-light" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
            -->
        </div>
    </div>
</nav>
<!-- Header-->
<!-- Section-->
<section class="pb-5">
    <div class="container px-4 px-lg-5 mt-4">
        <div class="row">
            <form th:object="${character}">
                <div class="row mb-3">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{name}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="hitPoints" class="col-sm-2 col-form-label">HP</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{hitPoints}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="armorClass" class="col-sm-2 col-form-label">Armor Class</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="armorClass" id="armorClass" th:value="*{defaultArmorClass}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="speed" class="col-sm-2 col-form-label">Speed</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{speed}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="challengeRating" class="col-sm-2 col-form-label">Challenge Rating</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{challengeRating}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="strength" class="col-sm-2 col-form-label">Strength</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{strength}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="dexterity" class="col-sm-2 col-form-label">Dexterity</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{dexterity}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="constitution" class="col-sm-2 col-form-label">Constitution</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{constitution}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="intelligence" class="col-sm-2 col-form-label">Intelligence</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{intelligence}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="wisdom" class="col-sm-2 col-form-label">Wisdom</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{wisdom}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="charisma" class="col-sm-2 col-form-label">Charisma</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{charisma}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="" class="col-sm-2 col-form-label">Armor</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="armor" name="armor">
                            <option value="no-armor-selected">Choose armor(optional)</option>
                            <option th:each="armor: ${armors}" th:value="${armor.id}"
                                    th:text="${armor.name + ' (Base AC: ' + armor.armorValue + ', Type: ' + armor.armorType.name + ')'}"></option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>