<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>RPG Project</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/encounter/builder}">Encounter</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<!-- Section-->
<section class="pb-5">
    <div class="container px-4 px-lg-5 mt-4">
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <h1 th:text="${character.name}">Aboleth</h1>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col">
                                <div class="card">
                                    <span>Armor class</span>
                                    <span th:text="${character.armorClass}">17</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="card">
                                    <span>HP</span>
                                    <span th:text="${character.hitPoints}">17</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="card">
                                    <span>Speed</span>
                                    <span th:text="${character.speed}">10 ft.</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="card">
                                    <span>CR</span>
                                    <span th:text="${character.challengeRating}">2</span>
                                </div>
                            </div>
                            <div class="col px-3">
                                <div class="card">
                                    <span>Proficiency</span>
                                    <span th:text="${'+' + character.proficiencyBonus}">2</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="card">
                                    STR<br>
                                    <button class="btn align-self-center btn-outline-dark" th:onclick="getRoll([[${character.getAttributeBonusRollDescription('STR')}]])"
                                            th:text="${'(' + character.getAttributeBonus('STR') + ')'}"
                                            style="padding: 0.05rem 0.8rem;">21</button>
                                    <span th:text="${character.getAttributeValue('STR')}">21</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="card">
                                    DEX<br>
                                    <button class="btn align-self-center btn-outline-dark" th:text="${'(' + character.getAttributeBonus('DEX') + ')'}"
                                            th:onclick="getRoll([[${character.getAttributeBonusRollDescription('DEX')}]])"
                                            style="padding: 0.05rem 0.8rem;">21</button>
                                    <span th:text="${character.getAttributeValue('DEX')}">21</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="card">
                                    CON<br>
                                    <button class="btn align-self-center btn-outline-dark" th:text="${'(' + character.getAttributeBonus('CON') + ')'}"
                                            th:onclick="getRoll([[${character.getAttributeBonusRollDescription('CON')}]])"
                                            style="padding: 0.05rem 0.8rem;">21</button>
                                    <span th:text="${character.getAttributeValue('CON')}">21</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="card">
                                    INT<br>
                                    <button class="btn align-self-center btn-outline-dark" th:text="${'(' + character.getAttributeBonus('INT') + ')'}"
                                            th:onclick="getRoll([[${character.getAttributeBonusRollDescription('INT')}]])"
                                            style="padding: 0.05rem 0.8rem;">21</button>
                                    <span th:text="${character.getAttributeValue('INT')}">21</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="card">
                                    WIS<br>
                                    <button class="btn align-self-center btn-outline-dark" th:text="${'(' + character.getAttributeBonus('WIS') + ')'}"
                                            th:onclick="getRoll([[${character.getAttributeBonusRollDescription('WIS')}]])"
                                            style="padding: 0.05rem 0.8rem;">21</button>
                                    <span th:text="${character.getAttributeValue('WIS')}">21</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="card">
                                    CHA<br>
                                    <button class="btn align-self-center btn-outline-dark" th:text="${'(' + character.getAttributeBonus('CHA') + ')'}"
                                            th:onclick="getRoll([[${character.getAttributeBonusRollDescription('CHA')}]])"
                                            style="padding: 0.05rem 0.8rem;">21</button>
                                    <span th:text="${character.getAttributeValue('CHA')}">21</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6 overflow-auto">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Prof</th>
                                        <th>Name</th>
                                        <th>Modifier</th>
                                        <th>Bonus</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="skill: ${character.skills}">
                                        <td th:if="${skill.proficiency}"><i class="bi bi-circle-fill"></i></td>
                                        <td th:unless="${skill.proficiency}"><i class="bi bi-circle"></i></td>
                                        <td th:text="${skill.name}"></td>
                                        <td th:text="${skill.modifier}"></td>
                                        <td>
                                            <button class="btn align-self-center btn-outline-dark btn-sm"
                                                    th:onclick="getRoll([[${skill.rollDefinition}]])"
                                                    th:text="${'('+ skill.bonusSign + skill.bonus + ')'}">(0)</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <!-- ide jön majd a tartalom, pl spellslotok meg armor, weapon-->
                                <div class="row">
                                    <table th:if="${character.isCaster()}" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Caster Level</th>
                                            <th>1th</th>
                                            <th>2th</th>
                                            <th>3th</th>
                                            <th>4th</th>
                                            <th>5th</th>
                                            <th>6th</th>
                                            <th>7th</th>
                                            <th>8th</th>
                                            <th>9th</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${character.casterLevel}"></td>
                                            <td th:each="slot: ${character.slots}" th:text="${slot}"></td>
                                            <td th:each="i:${#numbers.sequence(character.slots.length, 8)}"> - </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-6">
                                    <table th:if="${character.isCaster()}" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Chosen Armor</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${character.casterLevel}"></td>
                                            <td th:each="slot: ${character.slots}" th:text="${slot}"></td>
                                            <td th:each="i:${#numbers.sequence(character.slots.length, 8)}"> - </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-6">
                                    <table th:if="${character.isCaster()}" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Chosen Melee Weapon</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${character.casterLevel}"></td>
                                            <td th:each="slot: ${character.slots}" th:text="${slot}"></td>
                                            <td th:each="i:${#numbers.sequence(character.slots.length, 8)}"> - </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-6">
                                    <table th:if="${character.isCaster()}" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Chosen Ranged Weapon</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${character.casterLevel}"></td>
                                            <td th:each="slot: ${character.slots}" th:text="${slot}"></td>
                                            <td th:each="i:${#numbers.sequence(character.slots.length, 8)}"> - </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-header">
                        Characters
                    </div>
                    <div class="card-body">
                        <div class="btn-group-vertical" role="group">
                            <div class="col" th:each="actualCharacter: ${characters}">
                                <a href="#" class="btn btn-outline-secondary btn-block active" role="button"
                                   th:if="${character.id == actualCharacter.id}"
                                   th:text="${actualCharacter.name}" th:href="@{/encounter/character/{id}(id=${actualCharacter.id})}"></a>
                                <a href="#" class="btn btn-outline-secondary btn-block" role="button"
                                   th:unless="${character.id == actualCharacter.id}"
                                   th:text="${actualCharacter.name}" th:href="@{/encounter/character/{id}(id=${actualCharacter.id})}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Roll js -->
<script src="/js/roll.js"></script>
</body>
</html>
