<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<table>
  <tr>
    <th>Dice</th>
  <tr>
</table>

<form data-th-action="@{/roller}" data-th-object="${roll}" method="post">
  <table>
    <tr>d
      <label>
        <input type="number" data-th-field="*{sides}"/>
      </label></tr>
    <tr>Times<label>
      <input type="number" data-th-field="*{times}"/>
    </label>
    </tr>
    <tr colspan="2"><button type="submit">Roll</button></tr>
  </table>
</form>

<form data-th-action="@{/roller?sides={s}(s=${d4.sides})}" method="post">
  <table>
    <tr>d<span data-th-text="${d4.sides}"></span></tr>
    <tr><label>
      <input type="number" data-th-name="times"/>
    </label></tr>
    <tr colspan="2"><button type="submit">Roll</button></tr>
  </table>
</form>

<!--<form data-th-action="@{/roller}" data-th-object="${roll}" method="post">

    <table>
        <tr>d<span data-th-text="${d6.sides}"></span></tr>
        <tr><label>
            <input type="number" data-th-field="*{times}"/>
            <select data-th-field="*{sides}" hidden>
            <option data-th-value="${d6.sides}"></option>
            </select>
        </label></tr>
        <tr colspan="2"><button type="submit">Roll</button></tr>
    </table>
</form>-->

<form data-th-action="@{/roller?sides={s}(s=${d6.sides})}" method="post">
  <table>
    <tr>d<span data-th-text="${d6.sides}"></span></tr>
    <tr><label>
      <input type="number" data-th-name="times"/>
    </label></tr>
    <tr colspan="2"><button type="submit">Roll</button></tr>
  </table>
</form>

<form data-th-action="@{/roller?sides={s}(s=${d8.sides})}" method="post">
  <table>
    <tr>d<span data-th-text="${d8.sides}"></span></tr>
    <tr><label>
      <input type="number" data-th-name="times"/>
    </label></tr>
    <tr colspan="2"><button type="submit">Roll</button></tr>
  </table>
</form>

<form data-th-action="@{/roller?sides={s}(s=${d10.sides})}" method="post">
  <table>
    <tr>d<span data-th-text="${d10.sides}"></span></tr>
    <tr><label>
      <input type="number" data-th-name="times"/>
    </label></tr>
    <tr colspan="2"><button type="submit">Roll</button></tr>
  </table>
</form>

<form data-th-action="@{/roller?sides={s}(s=${d12.sides})}" method="post">
  <table>
    <tr>d<span data-th-text="${d12.sides}"></span></tr>
    <tr><label>
      <input type="number" data-th-name="times"/>
    </label></tr>
    <tr colspan="2"><button type="submit">Roll</button></tr>
  </table>
</form>

<form data-th-action="@{/roller?sides={s}(s=${d20.sides})}" method="post">
  <table>
    <tr>d<span data-th-text="${d20.sides}"></span></tr>
    <tr><label>
      <input type="number" data-th-name="times"/>
    </label></tr>
    <tr colspan="2"><button type="submit">Roll</button></tr>
  </table>
</form>

<form data-th-action="@{/roller?sides={s}(s=${d100.sides})}" method="post">
  <table>
    <tr>d<span data-th-text="${d100.sides}"></span></tr>
    <tr><label>
      <input type="number" data-th-name="times"/>
    </label></tr>
    <tr colspan="2"><button type="submit">Roll</button></tr>
  </table>
</form>

</body>
</html>