<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Search page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <!--<a class="navbar-brand" href="#!">Start Bootstrap</a>-->
        <!--
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Foods</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Add Food</a></li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-light" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
        -->
    </div>
    <!--
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Addnew </button>
    <form th:action="@{/search}" method="get">
        <input id="txtSearch" type="text" name="keyword">
        <button type="submit">Search</button>
    </form>-->
    -->
</nav>
<section class="pb-5">
    <div class="container px-4 px-lg-5 mt-4">
        <div class="row">
            <form class="row g-3" th:action="@{/search}" method="get">
                <div class="col-3">
                    <label for="txtSearch" class="visually-hidden">Search</label>
                    <input type="text" class="form-control" id="txtSearch" name="characterName" placeholder="Search">
                </div>
                        <div class="col-2">
                            <select id="characterType" name="characterType">
                                <option value="AllTypes"> All Charactertypes</option>
                                <option th:each="characterType: ${T(com.example.charactergenerator.model.CharacterType).values()}"
                                        th:value="${characterType}" th:text="${characterType.characterType}"></option>

                                <!-- rajtamarad az optionön amit a keresőben választottál th:selected="${#lists.contains(param.typeFilter,foodType.name())}"
                                th:unless="${#lists.isEmpty(param.typeFilter)}"></option>-->

                            </select>
                            <div class="col-2">
                            <select size="3" id="challengeRating" name ="challengeRating">
                                <option th:value="null"> Rating: All </option>
                                <option th:value="0"> Rating: 0 </option>
                                <option th:value="1"> Rating: 1 </option>
                                <option th:value="2"> Rating: 2 </option>
                                <option th:value="3"> Rating: 3 </option>
                                <option th:value="4"> Rating: 4 </option>
                                <option th:value="5"> Rating: 5 </option>
                                <option th:value="6"> Rating: 6 </option>
                                <option th:value="7"> Rating: 7 </option>
                                <option th:value="8"> Rating: 8 </option>
                                <option th:value="9"> Rating: 9 </option>
                                <option th:value="10"> Rating: 10 </option>
                                <option th:value="11"> Rating: 11 </option>
                                <option th:value="12"> Rating: 12 </option>
                                <option th:value="13"> Rating: 13 </option>
                                <option th:value="14"> Rating: 14 </option>
                                <option th:value="15"> Rating: 15 </option>
                                <option th:value="16"> Rating: 16 </option>
                                <option th:value="17"> Rating: 17 </option>
                                <option th:value="18"> Rating: 18 </option>
                                <option th:value="19"> Rating: 19 </option>
                                <option th:value="20"> Rating: 20 </option>
                                <option th:value="21"> Rating: 21 </option>
                                <option th:value="22"> Rating: 22 </option>
                                <option th:value="23"> Rating: 23 </option>
                                <option th:value="24"> Rating: 24 </option>
                                <option th:value="25"> Rating: 25 </option>
                                <option th:value="26"> Rating: 26 </option>
                                <option th:value="27"> Rating: 27 </option>
                                <option th:value="28"> Rating: 28 </option>
                                <option th:value="29"> Rating: 29 </option>
                                <option th:value="30"> Rating: 30 </option>

                            </select>
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-dark mb-3">Search</button>
                            </div>


                <h2></h2>


                        </div></form>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>HP</th>
                        <th>CR</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="character: ${characters}">
                        <td th:text="${character.id}"></td>
                        <td th:text="${character.name}"></td>
                        <td th:text="${character.hitPoints}"></td>
                        <td th:text="${character.challengeRating}"></td>
                        <td th:text= "${character.characterType}"></td>
                        <td><a th:href="@{/character}" method="get"></a>
                            <button type="submit" class="btn btn-dark mb-3">Choose</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
